/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%; }

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%; }

form button {
  width: 9%;
  background: #82e0ff;
  border: none;
  padding: 10px; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#messages li {
  padding: 5px 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal; }

::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300; }

::-moz-placeholder {
  color: #aaa;
  font-weight: 300; }

:-ms-input-placeholder {
  color: #aaa;
  font-weight: 300; }

input:-moz-placeholder {
  color: #aaa;
  font-weight: 300; }

/* Variables */
/* Styles */
a {
  text-decoration: none;
  color: #333; }
  a:hover {
    color: #5B1612; }

p {
  margin-bottom: 10px; }

h1, h2, h3 {
  color: #333; }

.inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  background-color: #FFF;
  overflow-x: hidden; }

header {
  position: relative;
  padding: 5px 0;
  background-color: #F2E4CD; }
  header .margin-color {
    position: absolute;
    left: 0;
    display: block;
    background-color: #5B1612;
    width: 30vw;
    height: calc(100% - 10px); }
  header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; }
  header .title {
    position: relative;
    padding: 10px 20px 10px 200px;
    text-transform: uppercase;
    background-color: #5B1612; }
    header .title .logo {
      position: absolute;
      right: 280px;
      top: 9px;
      height: 63.75px; }
    header .title h1 {
      margin-left: -2px;
      font-size: 42px;
      font-weight: 900;
      line-height: 38px;
      letter-spacing: 4px;
      color: #F2E4CD; }
    header .title h2 {
      font-size: 15px;
      letter-spacing: 1.5px;
      color: #fff; }
    header .title h3 {
      position: relative;
      left: -5px;
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
      color: #fff; }
      header .title h3:before, header .title h3:after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        width: 30px;
        height: 1px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #F2E4CD; }
      header .title h3:before {
        left: 18%; }
      header .title h3:after {
        right: 20%; }
    header .title .bar {
      display: block;
      width: 142%;
      margin: 5px 0 5px -78px;
      height: 6px;
      background-color: #F2E4CD; }
  header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    header nav a {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    header nav > a {
      margin-right: 40px;
      font-weight: 900;
      color: #333; }
      header nav > a:last-of-type {
        margin-right: 0; }
      header nav > a:hover {
        color: #5B1612; }
    header nav .nav-control {
      display: none; }
      header nav .nav-control:hover {
        cursor: pointer; }
    header nav .mobile-nav {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 120px;
      left: 0;
      right: 0;
      width: 100%;
      height: 300px;
      background-color: #5B1612;
      z-index: 15; }
      header nav .mobile-nav.active {
        display: flex; }
      header nav .mobile-nav a, header nav .mobile-nav h1 {
        color: #fff; }
        header nav .mobile-nav a:hover, header nav .mobile-nav h1:hover {
          color: #F2E4CD; }
      header nav .mobile-nav a {
        font-size: 22px;
        margin-bottom: 16px; }
  header .call-us {
    display: flex;
    align-items: center;
    min-width: 160px; }
    header .call-us img {
      display: block;
      height: 16px;
      margin-right: 7px; }
    header .call-us .number {
      font-size: 18px;
      font-weight: 900;
      line-height: 16px;
      letter-spacing: 1px;
      padding-right: 10px; }

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  background-color: #fff; }
  .slider .slide {
    position: relative;
    display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: calc(100vh - 146px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .slider .slide img {
      display: block;
      margin: auto;
      visibility: hidden;
      z-index: 0; }
    .slider .slide h1 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      color: #F2E4CD;
      background-color: rgba(0, 0, 0, 0.5); }
  .slider .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(91, 22, 18, 0.8);
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 3; }
    .slider .slick-arrow.slick-prev {
      left: 0; }
    .slider .slick-arrow.slick-next {
      right: 0; }
    .slider .slick-arrow:hover {
      background-color: rgba(242, 228, 205, 0.8); }
      .slider .slick-arrow:hover:before {
        color: #5B1612;
        opacity: 1; }
  .slider .slick-dots li.slick-active button:before {
    color: #5B1612; }

main {
  flex: 1;
  background-color: #fff; }

.sections section {
  padding: 50px 0; }
  .sections section .section-header {
    margin-bottom: 28px;
    font-size: 52px;
    font-weight: 900;
    text-transform: uppercase; }
  .sections section .two-column {
    display: flex;
    justify-content: space-between; }
    .sections section .two-column .left, .sections section .two-column .right {
      width: 100%;
      max-width: 500px; }
    .sections section .two-column .left {
      padding-right: 10px; }
    .sections section .two-column .right {
      padding-left: 10px; }
  .sections section p {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: #333; }

.about {
  background-color: rgba(242, 228, 205, 0.8); }
  .about .two-column .left p {
    max-width: 500px; }
    .about .two-column .left p a {
      font-weight: bold; }
  .about .two-column .left .callout {
    margin-top: 26px; }
    .about .two-column .left .callout a {
      padding: 5px 10px;
      color: #5B1612;
      border: 3px solid #5B1612;
      border-radius: 5px;
      background-color: #F2E4CD;
      font-size: 30px;
      font-weight: 800;
      text-transform: uppercase;
      transition: all 0.3s ease; }
      .about .two-column .left .callout a:hover {
        color: #F2E4CD;
        background-color: #5B1612; }
  .about .two-column .right .gmap {
    width: 100%;
    max-width: 500px; }
    .about .two-column .right .gmap iframe {
      width: 100%;
      height: 500px; }

.services .left .services-list {
  list-style-image: url("images/list-logo.png");
  padding-left: 32px; }
  .services .left .services-list li {
    font-size: 20px; }

.services .right img {
  width: 100%; }

.contact {
  text-align: center;
  background-color: rgba(242, 228, 205, 0.8); }
  .contact h2 {
    font-weight: 800;
    margin-bottom: 5px; }
  .contact .contact-img {
    width: 500px; }
  .contact .contact-sign {
    width: 100%;
    max-width: 500px;
    margin: 20px 0 20px 0; }
  .contact .fbook {
    margin-top: 20px;
    overflow-x: hidden; }

footer {
  padding: 10px 10px;
  color: #fff;
  background-color: #5B1612; }
  footer .inner {
    display: flex;
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 1060px) {
  header nav > a {
    margin-right: 20px; } }

@media screen and (max-width: 1000px) {
  header .title {
    padding-left: 140px; }
  header nav a {
    font-size: 16px; } }

@media screen and (max-width: 900px) {
  header nav > a {
    display: none; }
  header nav .nav-control {
    display: block; } }

@media screen and (max-width: 800px) {
  .section-header {
    text-align: center; }
  .sections section .two-column {
    flex-direction: column;
    align-items: center; }
    .sections section .two-column .left {
      margin-bottom: 40px;
      padding-right: 0; }
    .sections section .two-column .right {
      padding-left: 0; }
  p {
    text-align: center; }
  .callout {
    text-align: center; } }

@media screen and (max-width: 768px) {
  header .inner > .call-us {
    display: none; }
  header .inner nav {
    margin: auto; } }

@media screen and (max-width: 500px) {
  header .title {
    padding-left: 4%;
    padding-right: 4%; }
    header .title img, header .title .bar {
      display: none; }
  .sections section .section-header {
    font-size: 40px;
    margin-bottom: 20px; } }

@media screen and (max-width: 400px) {
  footer {
    font-size: 12px; }
  .about .two-column .left .callout a {
    font-size: 24px; } }
